.navbar-brand{
    width: 100vh;
    text-align: center;
}

.form-group{
    margin-top: 15px;
}

input[value="Enviar"]{
    width: 100%;
    margin-top: 15px;
}
.card-body strong{
    font-size: 13px;
}
.card-body{
    font-size: 12px;
    word-spacing: 0.3em
}